.category-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  accent-color: hsl(153, 68%, 42%);
  /* align-items: baseline; */
  flex-direction: column;
}

.label-flex {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline; */
  display: inline-grid;
  grid-template-columns: repeat(4, auto);
  grid-gap:5px 10px;
  align-items: baseline;
}

details {
  margin-left: 1em;
  margin-bottom: 0.5rem;
}

.weight-input {
  width: 90%;
  margin-bottom: 3%;
}


.toggle-button {
  display: flex;
  justify-content: space-between;
}

button.full-length {
  margin-top: 1em;
  width: 100%
}

a {
  color: white
}